{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bookstore</title>
        <link rel="stylesheet" href="{% static 'styles/index.css' %}" />
        <link rel="stylesheet" href="{% static 'styles/checkbox.css' %}" />
    </head>
<body>
    <section>

        <div class="create_container">
            <form action="{% url 'add-books' %}" method="POST">
            {% csrf_token %}
            <input
                class="create_input"
                type="text"
                placeholder="Напишите сюда новую задачу"
                name="books_text"
                />
                <button class="create_button">Добавить</button>
            </form>
        </div>

        <div class="books_container">

            {% for books in books_list %}
            <div class="books_item">
                <div class="books_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox" />
                        <span class="checkmark"></span>
                    </label>
                    <h4>{{ books.title }}</h4>
                </div>
                <div class="books_item_footer">
                    <p>{{ books.author }}</p>
                    <p>{{ books.description }}</p>
                    <div class="action_buttons">
                        <img src="{% static './icons/Star-1.png' %}" />
                        <img src="{% static './icons/Карзина.png' %}" />
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</html>